@font-face {
    font-family: thu_phap;
    src: url('./assets/font/Vongdohl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeOut 1.2s forwards;
    animation-delay: 2.6s;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#loading-screen video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.75;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 1rem 9%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.3);
}

menu a {
    font-family: thu_phap;
    font-size: 3rem;
    color: white;
    margin-left: 2.5rem;
    font-weight: 600;
    transition: color 0.5s ease, background-color 0.5 ease;
    border-bottom: 3px solid transparent;
    z-index: 0;
}

menu a.active,
menu a:hover {
    color: #ecff1c
}

menu .animation {
    position: absolute;
    height: 5px;
    width: 180px;
    margin-left: 30px;
    left: 795px;
    top: 0;
    z-index: -1;
    background: #f9bb00;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

#characters-show {
    display: flex;
    background-color: #031725;
}

#characters-show:hover .item {
    width: 23.3333%;
}

.item {
    transform: translate3d(0,0,0);
    position: relative;
    width: 25%;
    height: 100vh;
    min-height: 600px;
    color: white;
    overflow: hidden;
    transition: width 0.5s ease;
}

.item:before, .item:after {
    transform: translate3d(0,0,0);
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.item:before {
    background: liinfo-gradient(to bottom, rgba(0,0,0,0) 0%,
    rgba(0,0,0,1) 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0,0,0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.item:hover {
    width: 30% !important;
}

.item:hover .content {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.75s ease 0.5s;
}

.item:hover .bg {
    filter: grayscale(0);
}

.content {
    transform: translate3d(0,0,0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;
}

.content h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: deepskyblue;
    font-size: 1.44rem;
    font-weight: normal;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}

.info p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.728rem;
    line-height: 0;
}

.bg {
    transform: translate3d(0,0,0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}
