@font-face {
    font-family: thu_phap;
    src: url('./assets/font/Vongdohl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeOut 1.2s forwards;
    animation-delay: 2.6s;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#loading-screen video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
}


header {
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 1rem 9%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.logo {
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.3);
}

menu a {
    font-family: thu_phap;
    font-size: 3rem;
    color: white;
    margin-left: 2.5rem;
    font-weight: 600;
    transition: color 0.5s ease, background-color 0.5 ease;
    border-bottom: 3px solid transparent;
    z-index: 10;
}

menu a.active,
menu a:hover {
    color: #ecff1c
}

menu .animation {
    position: absolute;
    height: 5px;
    width: 180px;
    margin-left: 20px;
    left: 1085px;
    top: 0;
    z-index: -1;
    background: #f9bb00;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

#page1 {
    background-image: url('./assets/pic/chapter1/BG/pageBg01.png');
    background-size: cover;
    background-position: center;
    border: 1px solid #000000;
    font-family: thu_phap;
}

.word-page1 h1 {
    color: white;
    font-size: 70px;
    margin-top: 430px;
    margin-left: 450px;
}

#page2 {
    background-image: url('./assets/pic/TumLum/hoanghon.jpg');
    background-size: cover;
    background-position: center;
    border: 1px solid #000000;
    font-family:'Times New Roman';
}

.Chapter {
    display: block;
    position: relative;
    width: 1200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: transparent;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 0;
    border: 1px solid #000000;
    border-radius: 8px;
}

.Chapter:hover {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

.Chapter span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.Chapter:hover span {
    opacity: 1;
}

#chap1 {
    background-image: url('./assets/pic/EndOfChapter/Chap1.jpg');
}

#chap2 {
    background-image: url('./assets/pic/EndOfChapter/chap2.jpg');
}

#chap3 {
    background-image: url('./assets/pic/EndOfChapter/Chap3.jpg');
}

#chap4 {
    background-image: url('./assets/pic/EndOfChapter/Chap4.jpg');
}

#chap5 {
    background-image: url('./assets/pic/EndOfChapter/Chap5.jpg');
}

#chap6 {
    background-image: url('./assets/pic/EndOfChapter/Chap6.jpg');
}